/* font-family: 'Roboto Mono', monospace;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Be Vietnam', sans-serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Poiret One', cursive;
font-family: 'Montserrat Subrayada', sans-serif; */

body{
    background: url('../images/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
   
}

#header{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 3em;
    text-align: center;
    padding-left: 5%; 
}

#cali{
    font-family: 'Playfair Display SC', serif;
    font-size: 5.5em;
    text-align: center;
    font-weight: bold;
}

.main-container{
    background:rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    /* padding-top: 5%; */
    margin-bottom: 10%;

}

#startBtn{
    width: 40%;
    background-color:rgba(206, 62, 37);
    border: rgba(206, 62, 37);
    border-radius: 10px;
    font-family: 'Be Vietnam', sans-serif;
    margin-top: 21%;
    padding: 20px 50px;
    font-size: 2.5em;
    margin-bottom:0%;
    letter-spacing: 3px;
    font-weight: bolder;
}

#startBtn:hover{
    background-color: rgb(196, 83, 63);
    border:none;
   
}

#timeLeft{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    padding-bottom: 30px;
    padding-top: 40px;;
}

.questions{
    font-size: 1.3em;
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 30px;
    font-weight: bold;

}

input[type="radio"]{
    margin-left:20px;
    font-size: 1em;
    /* text-align: center; */

}

.submit{
    width: 15%;
    background-color: rgba(206, 62, 37);
    border: rgba(206, 62, 37);
    font-family: 'Be Vietnam', sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.4em;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom:25px;
    padding: 10px;
}

.submit:hover{
    background-color: rgb(196, 83, 63);
    border:none;
}

/* #display{
   width: 45%;
   margin-left: 27%;
    background:rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: 10px;
   
   padding-top: 30px;
   padding-bottom: 25px;
} */


#correctAnswers, #incorrectAnswers, #unanswered{
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
}
