/* font-family: 'Roboto Mono', monospace;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Be Vietnam', sans-serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Poiret One', cursive;
font-family: 'Montserrat Subrayada', sans-serif; */

body{
    background: url('../images/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
   
}

#header{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 3em;
    text-align: center;
    padding-left: 5%; 
}

#cali{
    font-family: 'Playfair Display SC', serif;
    font-size: 5.5em;
    text-align: center;
    font-weight: bold;
}

.main-container{
    background:rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    width: 80%;
    margin-left: 14%;
    padding-top: 5%;
    margin-bottom: 15%;

}

#startBtn{
    width: 40%;
    background-color:rgba(206, 62, 37);
    border: rgba(206, 62, 37);
    font-family: 'Be Vietnam', sans-serif;
    margin-bottom: 3%;
    margin-top: 0;
    /* padding: 20px 50px; */
    font-size: 2em;
}

#startBtn:hover{
    background-color: rgb(196, 83, 63);
    border:none;
}

#timeLeft{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    padding-bottom: 30px;
    margin-top: 0;
}

.questions{
    font-size: 1.3em;
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 20px;
    font-weight: bold;
    /* line-height: 100%; */
    /* word-spacing: 10px; */
    /* letter-spacing: 2px; */

}
input.questions{
    padding-left: 20px;
}

input[type="radio"]{
    margin-left: 10px;
}

.submit{
    width: 15%;
    background-color: rgba(206, 62, 37);
    border: rgba(206, 62, 37);
    font-family: 'Be Vietnam', sans-serif;
   
    margin-top: 0;
    color: #ffffff;
    font-size: 1em;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
}



#correctAnswers, #incorrectAnswers, #unanswered{
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-bottom: 10px;

}